* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* mouse dot css */
#miniCircle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
}

/* animation css of hero page */

.bounding {
    width: fit-content;
    overflow: hidden;

    .boundingElem {
        transform: translateY(100%);
    }
}

#main {
    width: 100%;
    background-color: black;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.heading {
    margin-top: 90px;
}

.heading h1 {
    font-size: 10vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0.6;
    margin-left: 30px;
}

.heading #secondh1 {
    margin-left: 180px;
}

.blocktext {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.blocktext h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

.smallHeading {
    margin-top: 120px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.smallHeading h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-top: 0.5vw;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 3%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.iconset {
    display: flex;
    gap: 6px;
}

.circle {
    background-color: #888;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* second page styling */

#second {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    padding-top: 200px;
    padding-right: 10vw;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #888;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
}

.elem:last-child {
    border-bottom: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 8vw;
    opacity: 0.7;
}

.elem img {
    position: absolute;
    z-index: 999;
    height: 140%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* third page styling */

#about {
    background-color: black;
    width: 100%;
    color: #fff;
    padding: 10vw;
    padding-left: 25vw;
    display: flex;
    align-items: center;
    gap: 50px;
}

#about img {
    width: 210px;
}

.textAbout {
    width: 25rem;

    & h4 {
        text-transform: uppercase;
        opacity: 0.7;
        margin-bottom: 10px;
    }

    & p {
        line-height: 1.7;
        margin-bottom: 30px;
    }

    & a {
        font-size: 14px;
        padding: 12px 22px;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 100px;
        text-decoration: none;
    }
}

/* 4th section - subscribe section  */

#subscribe {
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 10vw;

    & h5 {
        text-transform: uppercase;
        opacity: 0.7;
    }

    & h3 {
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 10px;
    }
}

/* 5th section footer  */

#mainFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: #fff;

    .left {
        display: flex;
        gap: 20px;
    }

    .right {
        display: flex;
        gap: 25px;

        & a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
        }
    }
}
